#общие системные файлы
.DS_Store
Thumbs.db
*.log
*.swp
~$*

#клиент
brainbox-client/node_modules/
brainbox-client/.env
brainbox-client/.env.local
brainbox-client/.env.development
brainbox-client/.env.test
brainbox-client/build/
brainbox-client/.next/
brainbox-client/.cache/
brainbox-client/coverage/
brainbox-client/.npm
brainbox-client/.yarn

#аутентификация
brainbox-authentication/.env
brainbox-authentication/venv/
brainbox-authentication/logs/
brainbox-authentication/__pycache__/
brainbox-authentication/*/__pycache__/
brainbox-authentication/*/*/__pycache__/

#gateway
brainbox-gateway/.env
brainbox-gateway/venv/
brainbox-gateway/logs/
brainbox-gateway/__pycache__/
brainbox-gateway/*/__pycache__/

#neural
brainbox-neural/.env
brainbox-neural/venv/
brainbox-neural/logs/
brainbox-neural/__pycache__/
brainbox-neural/*/__pycache__/
brainbox-neural/*/*/__pycache__/

#IDE/Editor специфичные файлы
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#логи и временные файлы
*.log
*.tmp