html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.leftPart {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;

  h1 {
    color: #ffffff;
    font-size: 40px;
  }
}

.icons {
  position: relative;
  width: 80px;
  height: 80px;
}

.box,
.brain {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
}

.box {
  font-size: 80px;
  z-index: 1;
}

.brain {
  font-size: 50px;
  z-index: 2;
  padding: 25px 0 0 15px;
}

.rightPart {
  position: relative;
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
